<!-- views/profile.ejs -->
<!doctype html>
<html ng-app="myApp">
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Our First App</h1>
            <input type="text" name="name" ng-model="name">
            <br>
            <div class="alert alert-{{name}}" role="alert">Hello World - {{ name }}</div>
            <span ng-model="firstname"></span>
            <a href="/page1">Page 1</a> - 
            <a href="/page2">Page 2</a>
        </div>
    </div>
    <div ng-view></div>
    <script src="libs/angularjs/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/page1Controller.js"></script>
</body>
</html>